body {
    font-family: Helvetica;
    margin: 0;
}

.header {
    color: #3C3C3C;
    display: flex;
    font-weight: 600;
}

.auth {
    position: absolute;
    right: 20px; 
    top: 30px;
    margin: 10px;
}

.header h1 {
    color: black;
    margin-left: 20px;
}

.header p {
    display: none;
}

.header .login {
    color: #3C3C3C;
    height: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.header .signup {
    background-color: #8EE5D1;
    border-radius: 20px;
    color: #3C3C3C;
    height: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.landing, .choice .content {
    text-align: center;
    display: block;
    margin: 10px 20px;
}

.landing h1, .choice .content h1 {
    font-size: 3em;
}

.landing p, .choice p {
    color: #3C3C3C;
    font-size: 1.5em;
    font-weight: 400;
}

.landing a {
    background-color: #8EE5D1;
    border-radius: 20px;
    color: #3C3C3C;
    font-weight: 600;
    padding: 10px 20px;
    margin: 30px;
    text-decoration: none;
}

.landing-image img {
    margin: 50px 0;
    max-width: 100%;
}

.booking {
    background-color: #F4F7FA;
    margin: auto;
    padding-bottom: 5%;
}

.booking input {
    border: 0.5px solid #858585;
    border-radius: 10px;
    height: 30px;
    margin: 5%;
    padding-left: 10px;
    width: 87%;
}

.booking a {
    color: #3C3C3C;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
}

.booking-button {
    background-color: #8EE5D1;
    border-radius: 10px;
    margin: 0 5%;
    padding: 10px 20px;
    text-align: center;
    width: 82%;
}

.boxes {
    background-color: #F4F7FA;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.boxes h1 {
    color: #8EE5D1;
}

.boxes p {
    color: #3C3C3C;
    font-weight: 300;
}

.footer {
    background-color: #F4F7FA;
    padding: 1em;
}

.footer h1 {
    color: black;
}

.footer .contact {
    padding-top: 1em;
}

.footer .contact, .footer .about {
    color: #3C3C3C;
    font-size: 1em;
}

.contact-email {
    font-weight: 600;
}

@media (min-width: 641px) {
    .header p {
        display: block;
    }

    .landing {
        margin: 5em;
    }

    .landing-image {
        max-width: 40%;
    }
}